@(message: String)

@main("Question") {
	
<!DOCTYPE html>
<html>
<head></head>
<script type="text/javascript" src="@routes.Assets.at("javascripts/qcm.js")"></script>

</head>
<body>
<form>

<div class="container" style="margin: 40px">
	<p>
	<h2> Répondez à ce QCM sans tricher ! Plusieurs réponses sont possibles </h2><br>
	</p>
	<div>
		<b><i>Parmi les types d’outils cités ci-dessous, lesquels sont les plus adaptés pour consulter des pages HTML ?</i></b><br>
		<input type="checkbox" /> un butineur <br>
		<input type="checkbox" /> un client HTTP <br>
		<input type="checkbox" /> un serveur de page HTML <br>
		<input type="checkbox" /> un éditeur d’images <br><br>

		<i><b>Quels sont les langages de programmations ?</b> </i> <br>
		<input type="checkbox" /> Java <br>
		<input type="checkbox" /> HTML <br>
		<input type="checkbox" /> Eclipse <br>
		<input type="checkbox" /> Netbeans <br>
		<input type="checkbox"/> Github <br><br>

		<i><b>HTTP est  </b></i><br>
		<input type="checkbox" /> le langage générique pour écrire des pages HTML <br>
		<input type="checkbox"/> un protocole <br>
		<input type="checkbox"/> un éditeur de document HTML <br>
		<input type="checkbox" /> un moteur de recherches <br><br>

		<i><b>Il est nécessaire d’avoir une connexion Internet pour consulter des pages HTML</b> </i><br>
		<input type="checkbox" /> Vrai <br>
		<input type="checkbox" /> Faux <br><br>

	</div>
	<div>
		<form class="navbar-form navbar-left" role="search">
		  <div class="form-group">
		  	<input type=button class="btn btn-info" value="Valider" onclick="qcm(0,'110011000100001')"/>
			<input type="text" name="t" size="20" ></input>
			<input type="reset" class="btn btn-danger" value="Annuler" />
			<input type="button" class="btn btn-success" onclick="solution(0,'110011000100001')" value="Solution" />
		  </div>
		</form>
	</div>
</div>

</form>
</body>
</html>
    
}


