@(message: String)

@main("Mes anciens QCM") {

<!DOCTYPE html>
<html>
<head>
<title>Anciens QCM</title>
	
	<link href="@routes.Assets.at("Stylesheets/ancienqcm.css")" rel="stylesheet" type='text/css'>

</head>

<body>

	<article>
    <h1>En développement</h1><br>
    <div>
        <p>Désolé mais cette page est en cours de développement donc il n'est pas possible de voir son contenu avant un certain moment mais si vous êtes très intéressé, merci de nous <a href="mailto:contact&#64;ponosisep.com<">contacter</a>, sinon nous ne saurons jamais que vous êtes intéressé!</p>
        <p>&mdash; Le Groupe ROSE de Génie Logiciel</p>
    </div>
</article>
	
</body>
</html>
}
