@(message: String)

@main("Espace professeur") {

<!DOCTYPE html>
<html>
<head>
<title>Espace Professeur</title>
</head>

<body>

<!--Corps de page-->

<div class="container" style="margin: 40px">
	<button type="button" class="btn btn-primary btn-lg">Ajouter</button>
	<button type="button" class="btn btn-primary btn-lg">Modifier</button>
	<button type="button" class="btn btn-primary btn-lg">Supprimer</button>
	</br>
	<div>
		<label for="form_control_1">Question</label>
		<input type="text" class="form-control" id="form_control_1" placeholder="Entrez votre question">
		<label for="form_control_1">Choix de réponse</label>
		<input type="text" class="form-control" id="form_control_1" placeholder="Option 1">
		<input type="text" class="form-control" id="form_control_1" placeholder="Option 2">
		<input type="text" class="form-control" id="form_control_1" placeholder="Option 3">
		<input type="text" class="form-control" id="form_control_1" placeholder="Option 4">
	</div>
</div>

</body>
</html>
    
}
