@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

    <head>
<title>Ponos ISEP</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Vide" />
<meta name="keywords" content="Eduma Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="@routes.Assets.at("Stylesheets/bootstrap.css")" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="@routes.Assets.at("Stylesheets/nav.css")" rel="stylesheet" type="text/css" media="all"/>
<link href="@routes.Assets.at("Stylesheets/hoverpack.css")" rel='stylesheet' type='text/css' />
<link href="@routes.Assets.at("Stylesheets/style.css")" rel='stylesheet' type='text/css' />
<!-- js -->
   <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")"></script>
<!-- //js -->
<!-- dropdown -->
<script src="@routes.Assets.at("javascripts/hoverpack.js")"></script>
<!-- //dropdown -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/move-top.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/easing.js")"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){     
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->
<!--animate-->
<link href= "@routes.Assets.at("Stylesheets/animate.css")" rel="stylesheet" type="text/css" media="all">
<script src="@routes.Assets.at("javascripts/wow.min.js")"></script>
    <script>
         new WOW().init();
    </script>
<!--//end-animate-->

</head>


<body>

    <div class="page-head">
            <div class="header-nav">
                <div class="logo wow fadeInUp animated" data-wow-delay=".5s">
                    <h1>
                        <a class="link link--kumya" href="@routes.Application.index()"><i></i><span data-letters="PONOS-ISEP">PONOS ISEP</span></a>
                    </h1>
                </div>
                <div class="top-nav wow fadeInUp animated" data-wow-delay=".5s">                                        
                        <label class="mobile_menu" for="mobile_menu">
                        <span>Menu</span>
                        </label>
                        <input id="mobile_menu" type="checkbox">
                        <ul class="nav">
                         <li><a class="active" href="@routes.Application.index()">Accueil</a></li>
                         <li><a href="@routes.Application.monespace()">Mon Espace</a></li>
                         <li><a href="@routes.Application.entrainer()">S'entraîner</a></li>
                         <li><a href="http://educ.isep.fr">Moodle</a></li>
                         <li><a href="http://www.isep.fr/parcours/">Parcours</a></li>
                         <li class="rectangle"><a href="@routes.Application.login()">Se connecter</a></li>
                      </ul>
                 </div>
                <div class="clearfix"></div>
            </div>
    </div>

        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

</body>

<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-grid wow fadeInRight animated" data-wow-delay=".5s">
            <h3>A propos</h3>
            <p>Ponos ISEP est un projet développé avec amour par l'équipe du groupe rose de l'ISEP.</p>
        </div>
        <div class="col-md-2 footer-grid wow fadeInRight animated" data-wow-delay=".5s">
            <h3>Navigation</h3>
            <ul>
                <li><a class="active" href="@routes.Application.index()">Accueil</a></li>
                <li><a href="@routes.Application.monespace()">Mon Espace</a></li>
                <li><a href="@routes.Application.entrainer()">S'entraîner</a></li>
                <li><a href="http://educ.isep.fr">Moodle</a></li>                        
            </ul>
        </div>
        <div class="col-md-3 footer-grid wow fadeInLeft animated" data-wow-delay=".5s">
            <h3>Contactez nous</h3>
            <h2>PONOS-ISEP</h2>
            <ul>
                <li>28, rue Notre-Dame des Champs</li>
                <li>75006</li>
                <li>PARIS</li>
                <li>Email : <a href="mailto:info&#64;example.com">contact&#64;ponosisep.com</a></li>
            </ul>
        </div>
        <div class="col-md-4 social-grid wow fadeInLeft animated" data-wow-delay=".5s">
            <h3>Contactez nous sur les réseaux sociaux</h3>
            <ul>
                <li><a class="fb1" href="#"></a></li>
                <li><a class="fb2" href="#"></a></li>
                <li><a class="fb3" href="#"></a></li>
                <li><a class="fb4" href="#"></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="copy-right">
            <p> &copy; 2016 PONOS ISEP. Tous droit réservés | L'équipe du groupe rose</p>
        </div>
    </div>
<!-- //footer-->

<!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
            };
        */                              
        $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- for bootstrap working -->
        <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>

</html>
