@(message: String)

@main("S'entrainer") {
    
    <!DOCTYPE html>
<html>
<head>
<title>Entrainement</title>
</head>

<body>
<!-- courses -->
    <div class="courses_box1">
       <div class="container">
        <h3 class="tittle">Les QCM d'entraînement</h3>
          
        <div class="col-md-9 wow fadeInUp animated" data-wow-delay=".5s">
            <div class="course_list">
                <div class="table-header clearfix">
                    <div class="id_col">ID</div>
                    <div class="name_col">Nom du cours</div>
                    <div class="duration_col">Durée</div>
                    <div class="date_col">Date de début</div>
                </div>
                <ul class="table-list">
                    <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                     <li class="clearfix">
                        <div class="id_col">(II:2405)</div>

                        <div class="name_col"><a href="#">Génie Logiciel</a></div>

                        <div class="duration_col">2 heures</div>

                        <div class="date_col">25/05/2016</div>
                    </li>
                </ul>
               </div>
        </div>
        <div class="col-md-3">
            <div class="courses_box1-left wow fadeInLeft animated" data-wow-delay=".5s">
                <form>
                 <div class="select-block1">
                    <select>
                        <option value="">Cours</option>
                        <option value="">Cours</option>
                        <option value="">Cours</option>
                        <option value="">Cours</option>
                        <option value="">Cours</option>
                    </select>
                 </div>
                <!-- select-block -->
                 <div class="select-block1">
                    <select>
                        <option value="">Durée</option>
                        <option value="">Durée</option>
                        <option value="">Durée</option>
                        <option value="">Durée</option>
                        <option value="">Durée</option>
                    </select>
                </div>
                <!-- select-block -->
                <div class="select-block1">
                    <select>
                        <option value="">Facile</option>
                        <option value="">Difficile</option>
                        <option value="">Moyen</option>
                    </select>
                </div>
                <!-- select-block -->
                <div class="select-block1">
                    <select>
                        <option value="">25/05/2016</option>
                        <option value="">25/05/2016</option>
                        <option value="">25/05/2016</option>
                        <option value="">25/05/2016</option>
                        <option value="">25/05/2016</option>
                    </select>
                </div>
                <!-- select-block -->
                <div class="select-block1">
                    <select>
                        <option value="">Promotion</option>
                        <option value="">Promotion</option>
                        <option value="">Promotion</option>
                        <option value="">Promotion</option>
                        <option value="">Promotion</option>
                    </select>
                </div>
                <!-- select-block -->
                <input type="submit" value="search" class="course-submit">                                  
            </form>
           </div>
           <div class="personBox wow fadeInLeft animated" data-wow-delay=".5s">
              <div class="personBox_1">
                 <div class="person_image">
                      <img src="@routes.Assets.at("images/team.jpg")" class="img-responsive" alt=""/> 
                 </div>
                 <div class="person_image_desc">
                   <h6>Le mot du prof</h6>
                   <p>Coucour toi !</p>
                </div>
                <div class="clearfix"> </div>
             </div>
             <div class="person_description">
                <p>
                    Salut les gens moi c'est Quentin de Junior ISEP ! Si vous voulez en savoir plus sur moi ou Junior ISEP 
                    n'hésitez pas à cliquer sur "plus", allez là clique !<a href="http://www.juniorisep.com/">Plus..</a>
                </p>
             </div>
          </div>
        </div>  
        <div class="clearfix"> </div>
       </div>
    </div>
<!-- courses -->
</body>
</html>
    
}
